@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background: rgb(8,2,65);
    background: linear-gradient(0deg, rgba(8,2,65,1) 0%, rgba(66,1,1,1) 100%); 
    color: aliceblue;
}



.header {
    background-color: #444444;
    text-transform: uppercase;
}

.upper-header {
    padding: 20px;
}


.titulo-1 {
    text-decoration: none;
    color: #fcff62;
}

h1 {

    font-family: "Bakbak One", sans-serif;
    font-size: 64px;
}

.nav-link {
    font-family: "Chakra Petch", sans-serif;
    color:#FCC169 ; 
    font-size: 35px;
   
}

.nav-link:hover {
    color: #FFF;
}







/* -- BUSCADOR -- */

form {
    margin-left: 30px  ;

}

.input-group {
    display: flex;
    align-items: center;
}

.input-group .form-control {
    color: #ffffff;
    border-radius: 0;
    background: transparent;
    border: none;
    padding-left: 40px; /* Espacio para el icono */
}

.form-control::placeholder {
    color: #ffffff; 
}

.input-group .input-group-text {
    background: transparent;
    border: none;
    position: absolute;
    left: 10px; /* Ajusta la posición del icono */
}

.input-group .input-group-text i {
    color: #bdbdbd; 
}

.input-group input:focus  {
    border: none;
    outline: none;
    outline: 4px solid darkorange;

}




/* -- CARDS INDEX -- */

.cartas {
    position:relative;
    width: 300px;
    height: 550px;
    margin: 30px;
}

.cartas .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.cartas .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.cartas .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cartas .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.cartas .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.cartas .back .link {
    border-top: solid 1px #ffffff;
    height: 50px;
    line-height: 50px;
}

.cartas .back .link a {
    color: #ffffff;
}

.cartas .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.cartas .back p {
    letter-spacing: 1px;
} 

.cartas:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.cartas:hover .back {
    transform: perspective(600px) rotateY(360deg);
}



/* -- BOTTONS --*/

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    background-color: #313131;
    border-radius: 9px;
    
}

.bo a{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    color: #f40303;
    font-size: 1.2rem;
    transition: .3s;
    overflow: hidden;
    margin-right: 70px;
    height: 20px;
}

.bo a:hover{
    background-color: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px#03e9f4,
                0 0 50px #03e9f4,
                0 0 300px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}

.bo a p {
    color: #000;
}

span{
    position: absolute;
    display: block;
}


span:nth-child(1){
    top: 0;
    left: 0;
    width: 50%;
    height: 1px;
    animation: animate1 1s infinite;
}


a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#f40303);
    animation: animate2 2s infinite;
    animation-delay: .25s;
}
@keyframes animate2{
    0%{
        top:-100%;
    }
    100%{
        top: 100%;
    }
}

a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg,transparent,#f40303);
    animation: animate3 2s infinite;
    animation-delay: .5s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    100%{
        right: 100%;
    }
}
a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#f40303);
    animation: animate4 2s infinite;
    animation-delay: .75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    100%{
        bottom: 100%;
    }
}

a span:nth-child(5){
    bottom: -100%;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#f40303);
    animation: animate4 2s infinite;
    animation-delay: .75s;
}
@keyframes animate5{
    0%{
        bottom: -100%;
    }
    100%{
        bottom: 100%;
    }
}





/* -- creditos -- */




.starwars {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;
}


.starwars h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    width: 78rem;
    color:#FCC169
}

.but {
    display: inline-block;
    border: none;
    height: 70px;
    border-radius: 30px;
    padding: 10px 0;
    width: 70px;
    background-color: #b07a05;
    font-size: 1rem;
    color: #1c1c1d;
    font-weight: 800;
    transition: 150ms;
    margin-top: 40px;
}

.but:focus {
    outline: none;
}

.but:hover {
    transform: translate(0, -5px);
}


#hero {
    min-height: 100vh;
    position: relative;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4a4a4a;
    opacity: 0.1;
    mix-blend-mode: overlay;

}



/* footer*/



.socials {
    list-style: none;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    margin-bottom: auto;

}



.socials li{
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;

}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: black;
    width: 100;
    padding: 10px 0px;
    display: flex;
    
}

.footer-bottom p {
    padding: 10px;
}
