@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background: rgb(8,2,65);
    background: linear-gradient(0deg, rgba(8,2,65,1) 0%, rgba(66,1,1,1) 100%); 
    color: aliceblue;
}



.header {
    background-color: #444444;
    text-transform: uppercase;
}

.upper-header {
    padding: 20px;
}


.titulo-1 {
    text-decoration: none;
    color: #fcff62;
}

h1 {

    font-family: "Bakbak One", sans-serif;
    font-size: 64px;
}

.nav-link {
    font-family: "Chakra Petch", sans-serif;
    color:#FCC169 ; 
    font-size: 35px;
   
}

.nav-link:hover {
    color: #FFF;
}

/* Buscar */

form {
    margin-left: 30px  ;

}

.input-group {
    display: flex;
    align-items: center;
}

.input-group .form-control {
    color: #ffffff;
    border-radius: 0;
    background: transparent;
    border: none;
    padding-left: 40px; /* Espacio para el icono */
}

.form-control::placeholder {
    color: #FFF; 
}

.input-group .input-group-text {
    background: transparent;
    border: none;
    position: absolute;
    left: 10px; /* Ajusta la posición del icono */
}

.input-group .input-group-text i {
    color: #bdbdbd; 
}

.input-group input:focus  {
    border: none;
    outline: none;
    outline: 4px solid darkorange;

}


.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #ffffff;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #ffffff;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
} 

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}








.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;

}

.socials li{
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;

}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: black;
    width: 100;
    padding: 10px 0px;
    display: flex;
    
}

.footer-bottom p {
    padding: 10px;
}
